@font-face {
  font-family: myFirstFont;
  src: url(../font/BPdotsPlus.otf);
}
@font-face {
  font-family: mySecondFont;
  src: url(../font/saxmono.ttf);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

body {
  background-color: black;
  cursor: none;
}

.gameBoard {
  position: absolute;
  top: 20px;
  left: 50%;
  max-width: 850px;
  max-height: 540px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  overflow: hidden;
  background-color: rgb(34, 87, 34);
  display: grid;
}
@media (max-width: 1024px) {
  .gameBoard {
    top: 20px;
    max-width: 850px;
    max-height: 540px;
  }
}
@media (max-width: 840px) {
  .gameBoard {
    top: 50px;
    max-width: 670px;
    max-height: 585px;
  }
}
@media (max-width: 420px) {
  .gameBoard {
    max-width: 330px;
    max-height: 270px;
  }
}
@media (max-width: 360px) {
  .gameBoard {
    max-width: 270px;
    max-height: 270px;
  }
}
@media (max-width: 280px) {
  .gameBoard {
    max-width: 225px;
    max-height: 225px;
  }
}

.nextLevel {
  position: fixed;
  top: 20px;
  left: 100%;
  width: 1080px;
  height: 540px;
  background-color: rgb(0, 0, 0);
}
@media (max-width: 1024px) {
  .nextLevel {
    width: 1080px;
    height: 640px;
  }
}
@media (max-width: 800px) {
  .nextLevel {
    width: 720px;
    height: 640px;
  }
}
@media (max-width: 420px) {
  .nextLevel {
    width: 400px;
    height: 450px;
  }
}
@media (max-width: 360px) {
  .nextLevel {
    width: 330px;
    height: 450px;
  }
}
@media (max-width: 280px) {
  .nextLevel {
    width: 260px;
  }
}

.animationNextLevel {
  -webkit-animation: nextLevel 2s linear;
          animation: nextLevel 2s linear;
}
@media (max-width: 840px) {
  .animationNextLevel {
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
  }
}
@media (max-width: 420px) {
  .animationNextLevel {
    -webkit-animation-duration: 1.8s;
            animation-duration: 1.8s;
  }
}

@-webkit-keyframes nextLevel {
  100% {
    left: -130%;
  }
}

@keyframes nextLevel {
  100% {
    left: -130%;
  }
}
.pieceBoard {
  width: 50px;
  height: 50px;
  background-color: rgb(109, 70, 25);
  text-align: center;
  background-size: 100%;
  color: transparent;
  font-size: 0.001px;
  background-image: url(/sound/ammo.wav);
}
@media (max-width: 1024px) {
  .pieceBoard {
    width: 60px;
    height: 60px;
  }
}
@media (max-width: 840px) {
  .pieceBoard {
    width: 45px;
    height: 45px;
  }
}
@media (max-width: 420px) {
  .pieceBoard {
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 280px) {
  .pieceBoard {
    width: 25px;
    height: 25px;
  }
}

.scoresBoard {
  position: fixed;
  top: 570px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 70px;
  background-color: rgb(0, 0, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1024px) {
  .scoresBoard {
    top: 580px;
    height: 70px;
  }
}
@media (max-width: 840px) {
  .scoresBoard {
    top: 640px;
    height: 75px;
  }
}
@media (max-width: 420px) {
  .scoresBoard {
    top: 330px;
    height: 30px;
  }
}
@media (max-width: 360px) {
  .scoresBoard {
    top: 330px;
    height: 30px;
  }
}
@media (max-width: 280px) {
  .scoresBoard {
    top: 285px;
    height: 28px;
  }
}
.scoresBoard > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.scoresBoard > span {
  text-align: right;
  padding-right: 5px;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  margin-right: 10px;
}
.scoresBoard__image {
  padding-left: 35px;
}
@media (max-width: 1024px) {
  .scoresBoard__image {
    padding-left: 25px;
    height: 60px;
  }
}
@media (max-width: 840px) {
  .scoresBoard__image {
    padding-left: 15px;
    height: 50px;
  }
}
@media (max-width: 420px) {
  .scoresBoard__image {
    padding-left: 7px;
    height: 24px;
  }
}
@media (max-width: 360px) {
  .scoresBoard__image {
    padding-left: 7px;
    height: 20px;
  }
}
@media (max-width: 280px) {
  .scoresBoard__image {
    padding-left: 5px;
    height: 16px;
  }
}
.scoresBoard__scores--count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 1024px) {
  .scoresBoard__scores--count {
    width: 180px;
  }
}
@media (max-width: 840px) {
  .scoresBoard__scores--count {
    width: 150px;
  }
}
@media (max-width: 420px) {
  .scoresBoard__scores--count {
    width: 80px;
  }
}
@media (max-width: 360px) {
  .scoresBoard__scores--count {
    width: 75px;
  }
}
@media (max-width: 280px) {
  .scoresBoard__scores--count {
    width: 70px;
  }
}
.scoresBoard__screws--count, .scoresBoard__lives--count, .scoresBoard__ammo--count, .scoresBoard__keys--count, .scoresBoard .scoresBoard__level--count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.number {
  margin: 0px;
  height: 70px;
}
@media (max-width: 1024px) {
  .number {
    height: 65px;
  }
}
@media (max-width: 840px) {
  .number {
    height: 50px;
  }
}
@media (max-width: 420px) {
  .number {
    height: 25px;
  }
}
@media (max-width: 360px) {
  .number {
    height: 25px;
    width: 11px;
  }
}
@media (max-width: 280px) {
  .number {
    height: 16px;
    width: 9px;
  }
}

.material-symbols-outlined {
  font-size: 22px;
  margin: 0 10px;
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 48;
}
@media (max-width: 420px) {
  .material-symbols-outlined {
    font-size: 16px;
    margin: 0 5px;
  }
}
@media (max-width: 360px) {
  .material-symbols-outlined {
    font-size: 12px;
    margin: 0 5px;
  }
}

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}

.welcomeBoard {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 610px;
  height: 650px;
  background-color: #000;
  font-family: myFirstFont;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 640px) {
  .welcomeBoard {
    width: 610px;
    height: 650px;
  }
}
@media (max-width: 420px) {
  .welcomeBoard {
    width: 350px;
    height: 600px;
  }
}
@media (max-width: 360px) {
  .welcomeBoard {
    width: 330px;
    height: 500px;
  }
}
@media (max-width: 280px) {
  .welcomeBoard {
    width: 260px;
    height: 500px;
  }
}

.container__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
  height: 25%;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.letter {
  width: 80px;
  height: 110px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}
@media (max-width: 640px) {
  .letter {
    margin: 0 10px;
    width: 80px;
    height: 110px;
  }
}
@media (max-width: 420px) {
  .letter {
    margin: 0 8px;
    width: 50px;
    height: 70px;
  }
}
@media (max-width: 360px) {
  .letter {
    margin: 0 6px;
  }
}
@media (max-width: 280px) {
  .letter {
    margin: 0 3px;
    width: 45px;
    height: 60px;
  }
}

.letterElement {
  width: 10px;
  height: 10px;
  margin: 1.5px 0px;
  text-align: center;
}
@media (max-width: 640px) {
  .letterElement {
    width: 8px;
    height: 8px;
    margin: 1.5px 0px;
  }
}
@media (max-width: 420px) {
  .letterElement {
    width: 7px;
    height: 7px;
  }
}
@media (max-width: 360px) {
  .letterElement {
    width: 7px;
    height: 7px;
    margin: 0.2px 0px;
  }
}
@media (max-width: 360px) {
  .letterElement {
    width: 5px;
    height: 5px;
    margin: 0.1px 0px;
  }
}

.titleAnimation {
  -webkit-animation: titleAnimation linear infinite;
          animation: titleAnimation linear infinite;
}

@-webkit-keyframes titleAnimation {
  0% {
    background-color: #064d13;
  }
  50% {
    background-color: #7ec022;
  }
  100% {
    background-color: #114012;
  }
}

@keyframes titleAnimation {
  0% {
    background-color: #064d13;
  }
  50% {
    background-color: #7ec022;
  }
  100% {
    background-color: #114012;
  }
}
.author {
  font-size: 14px;
  color: rgb(175, 171, 171);
  text-align: center;
  font-family: mySecondFont;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 420px) {
  .author {
    font-size: 12px;
    height: 15%;
  }
}
@media (max-width: 360px) {
  .author {
    font-size: 10px;
    height: 15%;
  }
}
.author__h1 {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}
.author__h2 {
  margin: 10px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}
.author__h3 {
  color: #d34848;
  letter-spacing: 2px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.information {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 20%;
  margin: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: myFirstFont;
}
@media (max-width: 420px) {
  .information {
    font-family: mySecondFont;
    height: 15%;
  }
}
@media (max-width: 360px) {
  .information {
    height: 15%;
    margin: 0 5px;
  }
}
.information__span {
  width: 50%;
  height: 50%;
  color: grey;
  font-size: 24px;
  font-weight: 600;
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 420px) {
  .information__span {
    font-size: 16px;
    padding: 2px 0px;
  }
}
@media (max-width: 360px) {
  .information__span {
    font-size: 12px;
  }
}

.robboStory {
  border-top: 2px solid blue;
  border-bottom: 2px solid blue;
  color: grey;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 223px;
  overflow: hidden;
}
@media (max-width: 420px) {
  .robboStory {
    height: 124px;
  }
}
@media (max-width: 360px) {
  .robboStory {
    height: 104px;
  }
}

.container {
  position: relative;
  top: 174px;
  width: 100%;
  height: 756px;
  padding: 5px 0;
}
@media (max-width: 420px) {
  .container {
    height: 462px;
  }
}
@media (max-width: 360px) {
  .container {
    height: 378px;
  }
}

.scroll {
  display: block;
  position: relative;
  height: 36px;
  font-size: 26px;
  letter-spacing: 1px;
  white-space: pre;
  font-family: mySecondFont;
  padding: 0px 0;
}
@media (max-width: 420px) {
  .scroll {
    font-size: 13px;
    letter-spacing: 1.5px;
    height: 22px;
  }
}
@media (max-width: 360px) {
  .scroll {
    font-size: 12px;
    height: 18px;
  }
}
@media (max-width: 280px) {
  .scroll {
    font-size: 9px;
    height: 18px;
  }
}

.scroll:first-child {
  display: table;
  margin: 0 auto;
  background-color: gray;
  color: rgb(0, 0, 0);
}
@media (max-width: 420px) {
  .scroll:first-child {
    line-height: 18px;
  }
}

.scroll:nth-child(18), .scroll:nth-child(19) {
  display: inline-block;
  -moz-text-align-last: left;
       text-align-last: left;
}

.scroll:nth-child(19) {
  background-color: gray;
  color: black;
}
@media (max-width: 420px) {
  .scroll:nth-child(19) {
    line-height: 26px;
  }
}

.scroll::after {
  content: attr(data-value);
  background-color: gray;
  color: transparent;
  opacity: 0;
  margin-left: 2px;
  -webkit-animation: cursor 0.2s infinite;
          animation: cursor 0.2s infinite;
}

@-webkit-keyframes cursor {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes cursor {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.firstLevel {
  position: fixed;
  top: 20px;
  left: 50%;
  width: 900px;
  height: 540px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: rgb(0, 0, 0);
  overflow: hidden;
  -webkit-animation: firstLevel 1s linear;
          animation: firstLevel 1s linear;
}
@media (max-width: 1024px) {
  .firstLevel {
    width: 900px;
    height: 840px;
  }
}
@media (max-width: 840px) {
  .firstLevel {
    width: 670px;
    height: 840px;
  }
}
@media (max-width: 420px) {
  .firstLevel {
    width: 330px;
  }
}
@media (max-width: 360px) {
  .firstLevel {
    width: 270px;
  }
}
@media (max-width: 280px) {
  .firstLevel {
    width: 225px;
  }
}
@-webkit-keyframes firstLevel {
  0% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  100% {
    -webkit-transform: translateX(-150%);
            transform: translateX(-150%);
  }
}
@keyframes firstLevel {
  0% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  100% {
    -webkit-transform: translateX(-150%);
            transform: translateX(-150%);
  }
}

.buttons--steering {
  display: none;
  position: absolute;
  top: 70%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 150px;
  width: 100%;
}
@media (max-width: 1024px) {
  .buttons--steering {
    display: none;
  }
}
@media (max-width: 840px) {
  .buttons--steering {
    display: block;
  }
}

.buttons {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #000;
  border-radius: 10%;
  border: 2px solid gray;
  background-color: transparent;
}
.buttons:active {
  -webkit-animation: buttonBorder 0.1s linear;
          animation: buttonBorder 0.1s linear;
}
.buttons > .material-symbols-outlined {
  font-size: 40px;
  color: gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 48;
}
.buttons__ESC {
  top: -25px;
  color: gray;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 150px;
}
@media (max-width: 768px) {
  .buttons__ESC {
    top: 75px;
    left: 150px;
  }
}
@media (max-width: 420px) {
  .buttons__ESC {
    top: 0px;
    left: 100px;
  }
}
@media (max-width: 280px) {
  .buttons__ESC {
    top: 0px;
    left: 50px;
  }
}
.buttons__right {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 50px;
}
@media (max-width: 420px) {
  .buttons__right {
    right: 50px;
  }
}
@media (max-width: 280px) {
  .buttons__right {
    right: 25px;
  }
}
.buttons__left {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 150px;
}
@media (max-width: 420px) {
  .buttons__left {
    right: 150px;
  }
}
@media (max-width: 280px) {
  .buttons__left {
    right: 125px;
  }
}
.buttons__up {
  top: 0;
  right: 100px;
}
@media (max-width: 420px) {
  .buttons__up {
    right: 100px;
  }
}
@media (max-width: 280px) {
  .buttons__up {
    right: 75px;
  }
}
.buttons__down {
  bottom: 0;
  right: 100px;
}
@media (max-width: 420px) {
  .buttons__down {
    right: 100px;
  }
}
@media (max-width: 280px) {
  .buttons__down {
    right: 75px;
  }
}
.buttons__shot {
  top: 50px;
  left: 50px;
}
@media (max-width: 420px) {
  .buttons__shot {
    left: 50px;
  }
}
@media (max-width: 280px) {
  .buttons__shot {
    left: 25px;
  }
}

@-webkit-keyframes buttonBorder {
  100% {
    border-color: red;
  }
}

@keyframes buttonBorder {
  100% {
    border-color: red;
  }
}/*# sourceMappingURL=robbo.css.map */